<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  {% extends 'index.html' %} 
  {% block content %}
  <form action=""
        method="get">
    <button class="srch-btn"
          style="font-size:14px; height:29px; width:60px; display:block; outline:none; float:right; margin-right:17%; margin-top: 10px;">پیدا کن</button>
    <div class="rcorners2"
         style='float:right; height:25px; width:50%; margin-top: 10px; margin-left:6px; margin-right:8px;'>
      <input class="srch-card"
           placeholder="نام خودرو ..."
           style="height:100%;"
           type="text">
    </div>
  </form><a href="{% url 'Home_Page' %}"><img alt="Carfind"
       src="./../static/image/mini_logo.jpg"
       style="margin-right:auto; margin-top:11px; display:block; border:none; float:right;"></a><br>
  <br>
  <br>
    {% if main_list|length > 0 %}
        <div class="result_container">
            <table>
                <tr>
                    <th>ردیف</th>
                    <th>برند</th>
                    <th>مدل</th>
                    <th>استایل</th>
                    <th>سال تولید</th>
                    <th>کارکرد</th>
                    <th>قیمت</th>
                    <th>پیش پرداخت</th>
                    <th>مبلغ هر قسط</th>
                    <th>تعداد اقساط</th>
                    <th>توضیحات</th>
                </tr>
                {% for item  in main_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            {% for data in item %}
                                <td>
                                    {{data}}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
            </table>
        </div>
    {% endif %}
    <form action="" method="POST">
        <button class="srch-btn"
          style="font-size:14px; margin-left:auto; margin-right:auto; margin-top:20px; height:35px; display:block; outline:none;"
          type="submit">ذخیره در پایگاه داده</button>
          <button class="srch-btn" onclick="{% url 'Home_Page' %}"
          style="font-size:14px; margin-left:auto; margin-right:auto; margin-top:20px; height:35px; display:block; outline:none;"
          type="">جستجوی جدید</button>
    </form>
{% endblock content %}
</body>
</html>
